.peach-text {
  color: rgba(246, 88, 88, 1);
}

.text-black:hover {
  color: #00798a !important;
}

.bg-peach {
  background-color: rgba(246, 88, 88, 1);
}

.border-peach {
  border-color: rgba(246, 88, 88, 1);
}

.btn-peach {
  background-color: rgba(246, 88, 88, 1) !important;
  color: white !important;
}

.btn-blue {
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  fill: #fff;
  padding: 8px 16px;
  background-color: #00798a;
  border-color: #00798a;
  font-weight: 500;
}

input[type="search"] {
  width: 100%;
  background-image: url("./assets/icons8-search-30.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 30px 12px 50px;
}
