* {
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.height-40 {
  height: 40px;
}

.peach-text {
  color: rgba(246, 88, 88, 1);
}

.blue-text {
  color: #00798a !important;
}

.text-black:hover {
  color: #00798a !important;
}

.bg-peach {
  background-color: rgba(246, 88, 88, 1);
}

.bg-lightBlue {
  background-color: rgba(219, 237, 240, 1);
}

.border-peach {
  border-color: rgba(246, 88, 88, 1);
}

.border-blue {
  border-color: #00798a !important;
  border-width: 2px !important;
}

.btn-peach {
  background-color: rgba(246, 88, 88, 1) !important;
  color: white !important;
  font-weight: 500 !important;
}

.btn-blue {
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  fill: #fff;
  padding: 8px 16px;
  background-color: #00798a;
  border-color: #00798a;
  font-weight: 500;
}

.btn-lightBlue {
  background-color: rgba(219, 237, 240, 1) !important;
  font-weight: 500 !important;
}

.icon-large {
  font-size: 1.5em;
}

input[type="search"] {
  width: 100%;
  background-image: url("./assets/icons8-search-25.png");
  background-position: 10px 7px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

.card {
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.bg-footer {
  background-color: rgba(33, 33, 33, 1);
}
